<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 定义日志级别 -->
	<targets>
		<!-- 写日志到控制台 -->
		<target xsi:type="Console" name="console" layout="${longdate} ${level} ${message} ${exception}" />
		<!-- 写日志到文件 -->
		<target xsi:type="File" name="file" fileName="logs/nlogfile.txt"
		        layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- 设置最低日志级别为 Info -->
		<logger name="*" minlevel="Info" writeTo="console, file" />
	</rules>
</nlog>